<header>
  <div class="header-content">
    <a class="brand" routerLink="/" aria-label="MathWar home">
      <img class="brand-logo" src="mathwar-logo.png" alt="" width="48" height="48" />
      <span>MathWar</span>
    </a>
    <div class="header-actions">
      <div
        class="sound-menu"
        (mouseenter)="openSoundMenu()"
        (mouseleave)="scheduleSoundMenuClose()"
      >
        <button
          type="button"
          class="btn btn--subtle sound-menu__button"
          aria-label="Sound settings"
          aria-controls="sound-settings-menu"
          [attr.aria-expanded]="soundMenuOpen()"
          (click)="openSoundMenu()"
          (focus)="openSoundMenu()"
        >
          <svg lucideVolume2 aria-hidden="true"></svg>
        </button>

        <div
          id="sound-settings-menu"
          class="sound-menu__panel"
          role="group"
          aria-label="Sound settings"
          [hidden]="!soundMenuOpen()"
        >
          <label class="sound-menu__toggle">
            <input type="checkbox" [ngModel]="muted()" (ngModelChange)="setMuted($event)" />
            <span>Mute sound</span>
          </label>

          <label class="sound-menu__volume" for="global-sound-volume">
            <span>Volume</span>
            <input
              id="global-sound-volume"
              type="range"
              min="0"
              max="1"
              step="0.05"
              [ngModel]="volume()"
              (ngModelChange)="setVolume($event)"
            />
            <output for="global-sound-volume">{{ volume() | percent: '1.0-0' }}</output>
          </label>
        </div>
      </div>

      <a class="btn btn--subtle header-about" routerLink="/about">About</a>

      <a class="account-button" routerLink="/account/settings" aria-label="Account settings">
        @if (account.avatarUrl()) {
          <img class="account-button__avatar" [src]="account.avatarUrl()" alt="" />
        } @else {
          <span class="account-button__icon">
            <svg lucideUser aria-hidden="true"></svg>
          </span>
        }
      </a>
    </div>
  </div>
</header>
